<div class="card">

    {{!-- <img class="card-img-top" src="/images/logo.png" alt="Item of goods"> --}}

    <div class="card-body">
        
        <h5 class="card-title">Thank You!</h5>

        <p class="card-text">Thanks again for your participation. Your feedback is incredibly useful in helping improve our design. This will help us make our website easier to use.</p>

        <p class="card-text">You may now close this window or navigate to another web page.</p>

    </div>

</div>