<div class="card">

    {{!-- <img class="card-img-top" src="/images/logo.png" alt="Item of goods"> --}}

    <div class="card-body">
        
        <h5 class="card-title">{{{__ "label.thank_you"}}}</h5>

        <p class="card-text">{{{__ "label.thanks_again_for_your_"}}}</p>

        <p class="card-text">{{{__ "label.you_may_now_close_"}}}</p>

    </div>

</div>